.btn {
  @include flexBox(inline-flex);
  padding: 10px;

  min-width: 200px;

  background-color: $accentColor;
  font-family: $mainFontFamily;
  @include textStyle(map-get($colors, 'lightText'), $primaryFontSize, calc(30 / 16), 0.06em);
  font-weight: 700;

  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn__icon {
  @extend %icon;
  margin-left: 10px;
}
